{% extends 'base.html' %}
{% load static %}

{% block title %} Register {% endblock %}

{% block content %}
<section id="register_main_section">
    <div id="register_wrapper">

        <div id="register_logo">
            <img id="page-icon" src="{% static 'icons/glass-coctail-svgrepo-com.svg' %}" alt="Logo">
            <h1 id="page-name">CocktailMIX</h1>
        </div>

        <div id="register_form">

    <form method="POST" action="{% url 'users:register' %}">
        {% csrf_token %}

        <div id="register_text">
            <h2>Create an account</h2>
            <h4>Register to create, edit and delete your cocktails.</h4>
        </div>

        <h4>Username</h4>
        {{ form.username }}

        <h4>Password</h4>
        {{ form.password1 }}

        <h4>Confirm password</h4>
        {{ form.password2 }}

        {{ form.errors }}

        <button class="form-submit">Let's go</button>

        <p>By continuing you agree to CocktailMIX's Terms & Conditions.</p>

    </form>

</div>


    </div>
</section>
{% endblock %}