{% extends 'base.html' %}

{% block title %}
    YOUR favourite Cocktails!!!
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
    <div class="small_nav">
                <a href="{% url 'users_cocktails' %}" class="small_nav_my_cocktails">MY COCKTAILS</a>
                <a class="ACTIVE">STARRED</a>
                <a href="/cocktails/create/">CREATE</a>
    </div>
    {% endif %}
<section id="about">
    <div>
        {% for cocktail in cocktails %}
        {% include 'cocktails/cocktail_index.html' with cocktail=cocktail %}
    {% empty %}
            <p>Nie masz jeszcze żadnych koktajli.</p>
            <a href="/cocktails/create/">Create your own Cocktail!</a>
        {% endfor %}
    </div>

  </section>
{% endblock %}