{% extends 'base.html' %}

{% block title %}
    Cocktails List
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
    <div class="small_nav">
                <a href="{% url 'create_ingredient' %}">ADD MORE</a>
    </div>
    {% endif %}
<section id="about">
    <div>
        <div class="header_block">
            <h1 id='header_cocktail_list'>INGREDIENTS</h1>
        <p id="cocktail_list_text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>

        {% for ingredient in ingredients %}
        {% include 'ingredients/ingredient_index.html' with ingredient=ingredient %}
    {% endfor %}

    <div class="pagination">
    {% if ingredients.has_previous %}
        <a href="?page={{ ingredients.previous_page_number }}">←</a>
    {% endif %}

    <span>{{ ingredients.number }} / {{ ingredients.paginator.num_pages }}</span>

    {% if ingredients.has_next %}
        <a href="?page={{ ingredients.next_page_number }}">→</a>
    {% endif %}
</div>
    </div>

  </section>
{% endblock %}