{% load static %}
<div class="cocktail-card">

    {% if ingredient.image %}
    <img src="{{ ingredient.image.url }}" alt="{{ ingredient.name }}" class="drink_photo">
    {% else %}
    <img src="{% static 'icons/glass-coctail-svgrepo-com.svg' %}" alt="{{ ingredient.name }}" class="drink_photo">
    {% endif %}
    <div class="cocktail-card-body">
        <h2 class="drink_name">{{ ingredient.name }}</h2>
        {% if ingredient.is_alcoholic %}
            <h3 class="drink_category">ALCOHOLIC</h3>
        {% else %}
            <h3 class="drink_category">ALCOHOL FREE</h3>
        {% endif %}

        <p class="drink_description">{{ ingredient.description }}</p>

        {% if request.user.is_authenticated %}
        <a href="{% url 'edit_ingredient' ingredient.id %}">EDIT</a>
        <form method="POST" action="{% url 'delete_ingredient' ingredient.id %}">
            {% csrf_token %}
            <button type="submit">DELETE</button>
        </form>
        {% endif %}
    </div>

</div>